.title {
    margin: auto;
    text-align: center;
}

.title h1 {
    height: 50px;
    margin: 15px 0 15px 0;
}

.content {
    width:80%;
    font-size: 20px;
    text-align: left;
    margin: auto;
}


.img-container {
    margin: auto;
    width: 60%;
}

.img-item{
    width: 80%;
    text-align: center;
    transition: all 0.8s;
    margin: auto;
}

.img-blur{
    filter: blur(5px);
}

img {
    max-width: 100%;
}